<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="LWS" connectionString="Data Source=206.1.13.228;Integrated Security=True;Initical Catalog=SkipperDemo;uid=sKIPperDemoUser;Password=Kdy(S7YDgqa3YVcxd" providerName="System.data.Sqlclient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="GoogleAPIKey" value="AIzaSyAtBScAvR_ISH3Fe4N_2tIIkaxVQO0wkVw"/>
    <add key="DbConnetion" value="server=206.1.13.228;database=SkipperDemo;uid=sKIPperDemoUser;pwd=Kdy(S7YDgqa3YVcxd;timeout=60" />
    <add key="MerchantUserName" value="Skippersati" />
    <add key="PushAlert" value="" />
    <add key="PushType" value="Single" />
    <add key="PushVibrate" value="true" />
    <add key="SmsAuthenticationKey" value="" />
    <add key="SmsAuthenticationKeyTag" value="" />
    <add key="workingkey" value="Abba99355c7cf7970e6c25d8b5adb3b2e" />
    <add key="sender" value="SKPSAT" />
    <add key="SmsUrl" value="http://alerts.solutionsinfini.com/api/web2sms.php" />
    <add key="BulkSmsUrl" value="http://alerts.sinfini.com/api/xmlapi.php" />
    <add key="Sms_User_name" value="ArokiaIT" />
    <add key="BoanProjectId" value="" />
    <add key="Sms_Password" value="Arokia@123" />
    <add key="EmailUsername" value="testing@in.arokiait.com"/>
    <add key="EmailPassword" value="T3st1n@1209"/>
    <add key="FromMail" value="noreply@centuryproclub.com" />
    <add key="TestMail" value="qa1@in.arokiait.com" />
    <add key="mailSmtpAddr" value="smtp.sendgrid.net" />
    <add key="PortNumber" value="587" />
    <add key="SSLInfo" value="true" />
    <add key="PushSenderID" value="354955137447" />
    <add key="PushWorkingKey" value="AAAAUqT5kac:APA91bFcNaFRIiAc6_z_HOor06Lhn1SC7AUTgH9bsz0ajbV0dwphqgv6iyAB5UnHwR684QibeqNEAg5n_TOu8Qw7Z3kgidxm9GL7NBISJ_1vfKu9j6rct9AfIcdX1YHI2sTyTD6tn7rz" />
    <add key="SavePushNotificationhistoryDetailsRest" value="http://services.arokiait.com/StandardAPI/RestAPI/StandardRestCommonServices.svc/SavePushNotoficationHistoryDetails" />
    <add key="SMSFeedId" value="0" />
    <add key="SMSSentTime" value="200812110950" />
    <add key="IsEmailTrap" value="false" />
    <add key="TrapEmail" value="@in.arokiait.com" />
    <add key="PANTokenGenerateUrl" value="https://api.sandbox.co.in/authenticate"/>
    <add key="PANValidationURL" value="https://api.sandbox.co.in/pans/"/>
    <add key="PAN_Apikey" value="key_live_MWnSaxpo1rGTqq30r2Imec035YC64oPx" />
    <add key="PAN_ApiSecrectkey" value="secret_live_8yvyq1DXjASqn8OFAwmfPnm6kvZfw5DL" />
    <add key="PanApiVersion" value="1.0"/>
    <!--<add key="UPLOAD_FOLDER_PATH" value="D:\OnGoingProject\SKIPPER\Application\Presentation\ArokiaIT.Skipper.Presentation.WebApp\"/>-->
    <add key="UPLOAD_FOLDER_PATH" value="D:\Hosting_Spaces\skipperdemo.arokiait.com\httpdocs"/>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
